.products {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-bottom: 50px;
}

.products__title {
    margin: 0;
    text-align: center;
    font-size: 32px;
    padding-top: 10%;
}

.products__empty {
    font-size: 50px;
    margin-top: 30%;
}

.products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 15%;
}

.products__add-button {
    background-color: #43bcae95;
    border: none;
    box-shadow: none;
    padding: 4px;
    border-radius: 15px;
    width: 90%;
    height: 35px;
    color: white;
    margin-top: 10%;
}

.list-doesnt-exist {
    color: white;
    font-size: 30px;
}