.product {
    width: 90%;
    height: 40px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #353535;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}

.product__name {
    margin: auto 0;
}

.product__checkbox {
    background-color: unset;
    background-image: url('../../../images/notchecked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: 0;
    width: 80%;
    height: 80%;
    margin: auto;
}

.product__checkbox_checked {
    background-image: url('../../../images/checked.svg');
}

.product__delete-btn {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: unset;
    opacity: .8;
    background-image: url('../../../images/krestik.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
