.App {
    background-color: #131313;
    font-family: 'font', 'Courier New', Courier, monospace;
}

.content {
    max-width: 500px;
    margin: 0 auto;
}

h1, h2, p {
    color: #D2C2C2;
}

button {
    cursor: pointer;
}

.green-button {
    background-color: #43bcae95;
    border: none;
    box-shadow: none;
    padding: 4px;
    border-radius: 15px;
    width: 90%;
    height: 35px;
    color: white;
    margin-top: 5%;
}