.App {
    background-color: #131313;
    font-family: 'font', 'Courier New', Courier, monospace;
}

.content {
    max-width: 500px;
    margin: 0 auto;
}

h1, h2, p {
    color: #D2C2C2;
}

button {
    cursor: pointer;
}