.main {
    background-color: #131313;
    text-align: center;
    min-height: 100vh;
    
    color: #D2C2C2;
}

.main__title {
    padding-top: 20%;
    margin: 0;
}



.main__create-btn {
    background-color: #43bcae95;
    
    border: none;
    box-shadow: none;
    padding: 4px;
    border-radius: 15px;
    width: 90%;
    height: 30px;
    color: white;
    margin-top: 20%;
}
